# os
.DS_Store

# frontend stuff
node_modules
/.svelte-kit
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# environment stuffs
.env
.env.*
!.env.example

# editor garbage
/.vscode

# build folders
build/
target/
dist/
.turbo

# separate projects
/packages/plugins